---
title: White Plains Historical Society
---
<html>
<center>
<head>
</head>
<body>
  <h3>The White Plains Historical Society</h3>
  <h2>About Us</h2>
  
  <table style="width:90%" align="center" cellpadding="5">
  <tr>
  <td valign="top" align="left">
  {% include aboutus.address.html %}
  {% include aboutus.phone.html %}
  {% include aboutus.email.html %}
  {% include aboutus.location.html %}
  {% include aboutus.meetings.html %}
  {% include aboutus.website.html %}
  <tr>
  <td valign="top" align="left">
  {% include aboutus.officers.html %}
  {% include aboutus.trustees.html %}
  {% include aboutus.trustees-past.html %}
  </table>
  
</body>  
<footer>
  <br>
  <br>
  {% include copyright.html %}
</footer>
</center>
</html>
