---
title: White Plains Historical Society
---
<html>
<center>
<head>
{% include menu.css %}
</head>
<body>
  <h3>The White Plains Historical Society</h3>
  {% include menu.html %}
  <h2>Links</h2>
  
  <table style="width:90%" align="center" cellpadding="5">
  
  <tr>
  
  <td valign="top" align="left">
  {% include links.white-plains.html %}
  {% include links.westchester-county.html %}
  {% include links.new-york-state.html %}
  {% include links.usa.html %}
  </td>
  
  <td valign="top" align="left">
  {% include links.facebook.html %}
  {% include links.historic-sites.html %}
  {% include links.research.html %}
  {% include links.image.html %}
  </td>
  
  </tr>
  
  </table>
  
</body>  
<footer>
  <br>
  <br>
  {% include copyright.html %}
</footer>
</center>
</html>
