---
title: White Plains Historical Society
---
<html>
<center>
<head>
{% include menu.css %}
</head>
<body>
  <h3>The White Plains Historical Society</h3>
  {% include menu.html %}
  <h2>Membership</h2>
  
  <table style="width:90%" align="center" cellpadding="5">
   
  {% include membership.row.01.html %}
  {% include membership.row.02.html %}
  {% include membership.row.03.html %}
  {% include membership.row.04.html %}
  {% include membership.row.05.html %}
  {% include membership.row.06.html %}
  {% include membership.row.07.html %}
   
  </table>
  
  <tr>
</body>  
<footer>
  <br>
  <br>
  {% include copyright.html %}
</footer>
</center>
</html>
