---
title: White Plains Historical Society
---
<html>
<center>
<head>
{% include menu.css %}
</head>
<body>
  <h3>The White Plains Historical Society</h3>
  <h2>Mission</h2>
  {% include menu.html %}
  <br>
  <br>
  <table>
  <tr>
  <td style="width:25%">
  </td>
  <td style="width:50%">
  <i>
  The discovery, preservation, and dissemination of knowledge about history, past and present, of the City of White Plains. 
  Particularly the preservation of historic buildings, sites, monuments, and cemeteries; and to promote public interest, awareness and to generate pride in our historic heritage. 
  </i>
  </td>
  <td style="width:25%">
  </td>
  </tr>
  </table>
  <br>
  <br>
  <img style="border-color: brown;" src="/images/washington_crossing_delaware.jpg" alt="" border="1">
  <br>
  <br>
</body>  
<footer>
  <br>
  <br>
  {% include copyright.html %}
</footer>
</center>
</html>
