---
title: White Plains Historical Society
---
<html>
<center>
<head>
</head>
<body>
  <h3>The White Plains Historical Society</h3>
 
	<h2>Pinchbeck Family Exhibit</h2>
	<h5>Family Photos Cir. 1904-1910<br>courtesy of Drew Mosher</h5>
	
	<table>
	<tr><td>{% include treasures.pinchbeck.row.00.html %}
	<tr><td><br><br>
	<tr><td>
	<ol>
	<li>{% include treasures.pinchbeck.row.01.html %}
	</ol>
	</table>
	
</body>  
<footer>
  <br>
  <br>
  {% include copyright.html %}
</footer>
</center>
</html>
