
<h3>Officers</h3>

<table cellpadding="5">
<tr>

<td>
<table cellpadding="5">
<tr>
<td><i>President</i>
<td>Peter Stone
<tr>
<td><i>First Vice President</i>
<td>John Vorperian
<tr>
<td><i>Second Vice President</i>
<td>Debra Palazzo
<tr>
<td><i>Treasurer
<td>Robert Hoch 
<tr>
<td><i>Recording Secretary</i>
<td>Barbara Carlson 
<tr>
<td><i>Corresponding Secretary</i>
<td>[vacant]
</table>

<td valign="top" align="center">
<img src="/images/stuart.jpg" style="border:1px solid black">

</table>


