
<h3>Trustees</h3>

<table cellpadding="5">
<tr>
<td>
 <table>
 <tr><td>Barbara Carlson
 <tr><td>Michelle Grieco-Varnit 	
 <tr><td>Alan Hartman 	
 <tr><td>Robert Hoch 	
 <tr><td>Denis F. Jones 	
 <tr><td>George Jones
 <tr><td>Cynthia Kauffman
 </table>
</td>
<td>
 <table>
 <td>
 <td>
 <tr><td>Rev. Jeffrey Geary 	
 <tr><td>Kelly Davey
 <tr><td>
 <tr><td>Debra Palazzo		
 <tr><td>Anthony Spinelli
 <tr><td> 
 <tr><td>Eben Turnure
 <tr><td>John Vorperian
 </table>
</td>
</tr>

</table>
