
<tr>
<td align="center"><b>2019</b>
<tdalign="center"><b>Events</b>

<tr>
<td>May 2 (Thursday)
<td><i>Annual Dinner</i>, Mansion on Broadway, 139 N. Broadway, White Plains, 6:00 p.m.

<tr>
<td>Jun ??
<td><i>Path Through History</i>, Jacob Purdy House, 60 Park Avenue, White Plains, 1:00 p.m.

<tr>
<td>Oct ??
<td><i>Path Through History</i>, Jacob Purdy House, 60 Park Avenue, White Plains, 1:00 p.m.

<tr>
<td>Oct 27 (Sunday)
<td><i>Battle of White Plains</i>, Jacob Purdy House, 60 Park Avenue, White Plains, 10:00 a.m., ceremony 1:00 p.m.

<tr>
<td align="center"><b>2019</b>
<tdalign="center"><b>Board Meetings</b>

<tr>
<td>Jan 14 (Monday)
<td>Board Of Trustees, Jacob Purdy House, 60 Park Avenue, White Plains, 7:00 p.m.

<tr>
<td>Feb 11 (Monday)
<td>Board Of Trustees, Jacob Purdy House, 60 Park Avenue, White Plains, 7:00 p.m.

<tr>
<td>Mar 11 (Monday)
<td>Board Of Trustees, Jacob Purdy House, 60 Park Avenue, White Plains, 7:00 p.m.

<tr>
<td>Apr 8 (Monday)
<td>Board Of Trustees, Jacob Purdy House, 60 Park Avenue, White Plains, 7:00 p.m.

<tr>
<td>May 13 (Monday)
<td>Board Of Trustees, Jacob Purdy House, 60 Park Avenue, White Plains, 7:00 p.m.

<tr>
<td>Jun 10 (Monday)
<td>Board Of Trustees, Jacob Purdy House, 60 Park Avenue, White Plains, 7:00 p.m.

<tr>
<td>Sep 9 (Monday)
<td>Board Of Trustees, Jacob Purdy House, 60 Park Avenue, White Plains, 7:00 p.m.

<tr>
<td>Oct 14 (Monday)
<td>Board Of Trustees, Jacob Purdy House, 60 Park Avenue, White Plains, 7:00 p.m.

<tr>
<td>Nov 11 (Monday)
<td>Board Of Trustees, Jacob Purdy House, 60 Park Avenue, White Plains, 7:00 p.m.

<tr>
<td>Dec 9 (Monday)
<td>Board Of Trustees, Jacob Purdy House, 60 Park Avenue, White Plains, 7:00 p.m.
