
<tr>
<td colspan="2" align="center"><b>Events</b>

<tr>
<td>May 2, 2019 (Thursday)
<td>Annual Dinner, Mansion on Broadway, 139 N. Broadway, White Plains, 6:00 p.m.

<tr>
<td>Jun ??, 2019
<td>Path Through History, Jacob Purdy House, 60 Park Avenue, White Plains, 1:00 p.m.

<tr>
<td>Oct 27, 2019
<td>Battle of White Plains, Jacob Purdy House, 60 Park Avenue, White Plains, 10:00 a.m., ceremony 1:00 p.m.

<tr>
<td colspan="2" align="center"><b>Board Meetings</b>

<tr>
<td>Jan 14 2019 (Monday)
<td>Board Of Trustees, Jacob Purdy House, 60 Park Avenue, White Plains, 7:00 p.m.

<tr>
<td>Feb 11, 2019 (Monday)
<td>Board Of Trustees, Jacob Purdy House, 60 Park Avenue, White Plains, 7:00 p.m.

<tr>
<td>Mar 11, 2019 (Monday)
<td>Board Of Trustees, Jacob Purdy House, 60 Park Avenue, White Plains, 7:00 p.m.

<tr>
<td>Apr 8, 2019 (Monday)
<td>Board Of Trustees, Jacob Purdy House, 60 Park Avenue, White Plains, 7:00 p.m.

<tr>
<td>May 13, 2019 (Monday)
<td>Board Of Trustees, Jacob Purdy House, 60 Park Avenue, White Plains, 7:00 p.m.

<tr>
<td>Jun 10, 2019 (Monday)
<td>Board Of Trustees, Jacob Purdy House, 60 Park Avenue, White Plains, 7:00 p.m.

<tr>
<td>Sep 9, 2019 (Monday)
<td>Board Of Trustees, Jacob Purdy House, 60 Park Avenue, White Plains, 7:00 p.m.

<tr>
<td>Oct 14, 2019 (Monday)
<td>Board Of Trustees, Jacob Purdy House, 60 Park Avenue, White Plains, 7:00 p.m.

<tr>
<td>Nov 11, 2019 (Monday)
<td>Board Of Trustees, Jacob Purdy House, 60 Park Avenue, White Plains, 7:00 p.m.

<tr>
<td>Dec 9, 2019 (Monday)
<td>Board Of Trustees, Jacob Purdy House, 60 Park Avenue, White Plains, 7:00 p.m.
