
<tr style="background-color:#ff5555;">

<td style="border:1px solid black;" align="center">
<div>
<a href="/pages/giftshop/ThrowBack.html" target=_shadow><img alt="Throw Back" hspace=0 src="/images/gift-shop/ThrowBack_icon.jpg" border=1></a>
</div>

<td style="border:1px solid black;" align="center">
<div>
<br>
<br>
<table>
<tr>     
 <td>Title:</td>
 <td><a href="/pages/giftshop/ThrowBack.html" target="_shadow">Throw Back</a></td>
<tr>
 <td>Author:</td>
 <td><a href="/pages/renoda-hoffman/renoda_hoffman.htm" target="_shadow">Renoda Hoffman</a></td>
<tr>
 <td>Circa:</td>
 <td>1976</td>
<tr>
 <td>Pages:</td>
 <td>12</td>
<tr>
 <td style="color:red">Click on preview pages:</td>
 <td>
  <a href="/images/gift-shop/ThrowBack_page01.pdf" target=_shadow>page 1</a>
</table>
<br>
<br>
</div>

<td style="border:1px solid black;" align="center">
<div>
<img alt="Sold Out" hspace=0 src="/images/gift-shop/sold-out-WEB.jpg" border=0>
</div>
