
<tr style="background-color:#ff5555;">

<td style="border:1px solid black;" align="center">
<div>
<a href="/pages/giftshop/HeritagePoster.html" target=_blank><img hspace=0 src="/images/gift-shop/HeritagePoster_icon.jpg" border=1></a>
<br>
<br>
<a href="/pages/giftshop/HeritageMug.html" target=_blank><img hspace=0 src="/images/gift-shop/HeritageMug_icon.jpg" border=1></a>
<br>
Click on image to enlarge.
</div>

<td style="border:1px solid black;" align="center">
<div>
<img alt="New Arrival" hspace=0 src="/images/gift-shop/new-arrival.jpg">
<h3>
Baron Von Steuben's Manuel of Arms Mementos 
</h3>
A full color rendition of an original recruiting poster illustrating drilling positions from 
Baron Friedrich Wilhelm von Steuben's Regulations for the Order and Discipline of the Troops
of the United States.  This drill manual, originally developed in 1778 at Valley Forge for
the training of American infantry, was the official US military guide until 1812. 
</div>

<td style="border:1px solid black;" align="center">
z
