
<tr style="background-color:#5555ff; border:1px solid black;">

<!-- col 1 -->

<td style="border:1px solid black;" align="center">
<div>
<img alt="On The Streets Where We Lived" hspace=0 src="/images/gift-shop/roots.cover_icon.jpg" border=1>
</div>

<!-- col 2 -->

<td style="border:1px solid black;" align="center">
<div>
<br>
<br>
<b>*** Copies Limited ***</b>
<br>
<br>
<table>
<tr>     
 <td>Title:</td>
 <td><a href="/images/gift-shop/roots.cover.jpg" target="_blank">On The Streets Where We Lived</a></td>
<tr>
 <td>Author:</td>
 <td>Harold A. Esannason</td>
<tr>
 <td>Year:</td>
 <td>2010</td>
<tr>
 <td>Pages:</td>
 <td>108</td>
<tr>
 <td style="color:red">Click on preview pages:</td>
 <td>
  <a href="/images/gift-shop/roots.page006.jpg" target=_blank>page 6</a>,
  <a href="/images/gift-shop/roots.page007.jpg" target=_blank>page 7</a>,
  <a href="/images/gift-shop/roots.page055.jpg" target=_blank>page 55</a>
</table>
<br>
<br>
</div>

<!-- col 3 -->

<td style="border:1px solid black;" align="center">
<div>
<img alt="Sold Out" hspace=0 src="/images/gift-shop/sold-out-WEB.jpg" border=0>
</div>
