<table cellpadding="5" width="100%">

<tr>
    
<td width="10%" align="center" valign="bottom">

<td width="20%" align="center" valign="bottom">
    <div>
    <a href="/pages/JacobPurdyHouse.html" target=_shadow><img style="border-color: brown;" hspace=0 src="/images/PurdyHouse_icon.jpg" alt="" border=1></a>
    </div>
	<br>
	<div>
    <small>
    <a href="/pages/JacobPurdyHouse.html" target=_shadow>Jacob Purdy House</a>
    <br>
    National Historic Site
    <br>
    <i>George Washington's Headquarters</i>
    <br>
    <i>Battle of White Plains, October 1776</i>
    <br>
    </small>
    </div>

<td width="20%" align="center" valign="bottom">
    <div>
     <!-- ***** PayPal ***** -->
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_paypal">
        <input type="hidden" name="cmd" value="_s-xclick" />
        <input type="hidden" name="hosted_button_id" value="3A2YBLX6WK3XS" />
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
        </form>
	<!-- /***** PayPal ***** -->
	</div>
	<div>
    <br>
    <small>
	    <a href="/pages/JonathanPurdyCemetery.html" target=_shadow><img style="border-color: brown;" hspace=0 src="/images/jonathan-purdy-cemetery/icon/ElijahAndMaryGuion-restored-icon.jpg" alt="" border=1></a>
	    </div>
	    <div>
	    <a href="/pages/JonathanPurdyCemetery.html" target=_shadow>Jonathan Purdy Cemetery</a>
	    <br>
	    Restoration Project
	    </div>
    </small>
    
<td width="20%" align="center" valign="bottom">
    <div>
    <a href="/newsletters/2019NewsletterSpring.pdf" target=_shadow><img style="border-color: brown;" hspace=0 src="/newsletters/2019NewsletterSpring_icon.jpg" border=1></a>
    </div>
    <br>
    <small>
	    <div>
	    <a href="/newsletters/2019NewsletterSpring.pdf" target=_shadow>Spring Newsletter</a>
	    </div>
	    <br>
	    <div>
	    <a href="/newsletters/2019NewsletterSpringQuiz.pdf" target=_shadow>Quiz Answers</a>
	    </div>
    </small>
    
<td width="20%" align="center" valign="bottom">
    <div>
    <a href="/events/Path Through History -June 17  2023.pdf" target=_shadow><img style="border-color: brown;" hspace=0 src="/images/PTH_Logo2.png" border=1></a>
    </div>
    <br>
    <small>
	    <div>
	    <a href="/events/Path Through History -June 17  2023.pdf" target=_shadow>Click for details...</a>
	    </div>
	    <br>
	    <div>
    	Jacob Purdy House
    	<br>
    	Saturday June 17, 2023 at Noon
	    </div>
    </small>
    
<td width="10%" align="center" valign="bottom">

</table>
