<table cellpadding="5" width="100%">

<tr>
<td align="center" valign="bottom">
    <div>
    <a href="/pages/JacobPurdyHouse.html" target=_shadow><img style="border-color: brown;" hspace=0 src="/images/PurdyHouse_icon.jpg" alt="" border=1></a>
    </div>
	<br>
	<div>
    <small>
    <a href="/pages/JacobPurdyHouse.html" target=_shadow>Jacob Purdy House</a>
    <br>
    National Historic Site
    <br>
    <i>George Washington's Headquarters</i>
    <br>
    <i>Battle of White Plains, October 1776</i>
    <br>
    </small>
    </div>

<td align="center" valign="bottom">
    2

<td align="center" valign="bottom">
    3

</table>
