<table cellpadding="5" width="100%">

<tr>

<td width="10%" align="center" valign="bottom">

<td width="20%" align="center" valign="bottom">
    <div>
    <a href="/pages/treasures.html" target=_shadow><img style="border-color: brown;" hspace=0 src="/images/treasures/USS_White_Plains_(CVE-66).jpg" alt="" border=1></a>
    </div>
	<br>
	<div>
    <small>
    <a href="/pages/HistoricTreasures.html" target=_shadow>Historic Treasures</a>
    </small>
    </div>

<td width="20%" align="center" valign="bottom">
    <div>
    <a href="/pages/gift-shop.html" target=_shadow><img style="border-color: brown;" hspace=0 src="/images/gift-shop/gift_box_1.25w.jpg" alt="" border=1></a>
    </div>
	<br>
	<div>
    <small>
    <a href="/pages/gift-shop.html" target=_shadow>Gift Shoppe</a>
    </small>
    </div>

<td width="20%" align="center" valign="bottom">
    <div>
    <a href="http://sites.google.com/site/troopxwp/white-plains-heritage-trail" target=_shadow><img style="border-color: brown;" hspace=0 src="/images/Heritage_Trail.jpg" alt="" border=1></a>
    </div>
	<br>
	<div>
    <small>
    <a href="http://sites.google.com/site/troopxwp/white-plains-heritage-trail" target=_shadow>Heritage Trail</a>
    </small>
    </div>

<td width="20%" align="center" valign="bottom">
    <div>
    <a href="http://www.facebook.com/pages/White-Plains-History/137167769647364?v=wall" target=_shadow><img style="border-color: brown;" hspace=0 src="/images/facebook/5u84f48n.gif" alt="" border=1></a>
    </div>
	<br>
	<div>
    <small>
    <a href="http://www.facebook.com/pages/White-Plains-History/137167769647364?v=wall" target=_shadow>Facebook</a>
    </small>
    </div>
    
<td width="10%" align="center" valign="bottom">    
    
</table>
