<table cellpadding="5" width="100%">

<tr>
<td width="25%" align="center" valign="bottom">
    <div>
    <a href="/pages/treasures.html" target=_shadow><img style="border-color: brown;" hspace=0 src="/images/treasures/USS_White_Plains_(CVE-66).jpg" alt="" border=1></a>
    </div>
	<br>
	<div>
    <small>
    <a href="/pages/treasures.html" target=_shadow>Historic Treasures</a>
    </small>
    </div>

<td width="25%" align="center" valign="bottom">
    <div>
    <a href="/pages/treasures.html" target=_shadow><img style="border-color: brown;" hspace=0 src="/images/treasures/USS_White_Plains_(CVE-66).jpg" alt="" border=1></a>
    </div>
	<br>
	<div>
    <small>
    <a href="/pages/treasures.html" target=_shadow>Historic Treasures</a>
    </small>
    </div>

<td width="25%" align="center" valign="bottom">
    <div>
    <a href="/pages/treasures.html" target=_shadow><img style="border-color: brown;" hspace=0 src="/images/treasures/USS_White_Plains_(CVE-66).jpg" alt="" border=1></a>
    </div>
	<br>
	<div>
    <small>
    <a href="/pages/treasures.html" target=_shadow>Historic Treasures</a>
    </small>
    </div>

<td width="25%" align="center" valign="bottom">
    <div>
    <a href="/pages/treasures.html" target=_shadow><img style="border-color: brown;" hspace=0 src="/images/treasures/USS_White_Plains_(CVE-66).jpg" alt="" border=1></a>
    </div>
	<br>
	<div>
    <small>
    <a href="/pages/treasures.html" target=_shadow>Historic Treasures</a>
    </small>
    </div>
    
</table>
