<table cellpadding="5" width="100%">

<tr>
<td valign="bottom"><table>
    <tr>
    <td>
    <center>
    <a href="/pages/JacobPurdyHouse.html" target=_shadow><img style="border-color: brown;" hspace=0 src="/images/PurdyHouse_icon.jpg" alt="" border=1></a>
    </center>
    <tr>
    <td>
    <center>
    <small>
    <a href="/pages/JacobPurdyHouse.html" target=_shadow>Jacob Purdy House</a>
    <br>
    National Historic Site
    <br>
    <i>George Washington's Headquarters</i>
    <br>
    <i>Battle of White Plains, October 1776</i>
    <br>
    </small>
    </center>
    </table>

<td valign="bottom"><table>
    <tr>
    <td>
    <center>
     <!-- ***** PayPal ***** -->
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_paypal">
        <input type="hidden" name="cmd" value="_s-xclick" />
        <input type="hidden" name="hosted_button_id" value="3A2YBLX6WK3XS" />
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
        </form>
	<!-- /***** PayPal ***** -->
    <br>
    <a href="/pages/JonathanPurdyCemetery.html" target=_shadow><img style="border-color: brown;" hspace=0 src="/images/jonathan-purdy-cemetery/icon/ElijahAndMaryGuion-restored-icon.jpg" alt="" border=1></a>
    </center>
    <tr>
    <td>
    <center>
    <small>
    <a href="/pages/JonathanPurdyCemetery.html" target=_shadow>Jonathan Purdy Cemetery</a>
    <br>
    Restoration Project
    </small>
    </center>
    </table>

<td valign="bottom"><table>
	<tr>
    <td>
    <center>
    <small>
    <a href="/newsletters/2019-Spring.pdf" target=_shadow><img style="border-color: brown;" hspace=0 src="/newsletters/2019-Spring-icon.jpg" border=1></a>
    <br>
    <a href="/newsletters/2019-Spring.pdf" target=_shadow>Spring Newsletter</a>
    <br>
    <a href="/newsletters/2019-Spring-Quiz.pdf" target=_shadow>Quiz Answers</a>
    </small>
    </center>
	</table>

</table>
