
<table>
<tr>

<td style="width:33%; padding:6px;" align="center">
  <h3>Elijah Purdy (1729-1816)</h3>
  <p>
	Large sandstone grave marker has snapped off of its base section.
	Ground section to be dug out and reset to the proper position.
	Two parts then to be reattached.
	
<td style="width:33%; padding:6px;" align="center">
  <table>
  <caption style="caption-side:bottom;">
  Click on image to enlarge.
  </caption>
  <tr>
  <td>
  	<a href="/images/jonathan-purdy-cemetery/icon/Elijah Purdy.jpg" target="_enlarge"><img src="/images/jonathan-purdy-cemetery/icon/Elijah Purdy.jpg" style="border:1px solid black"></a>
  </table>
	
<td style="width:50%" align="center">
  <table>
  <caption style="caption-side:bottom;">
  <span style="color:#ff0000">Restored! Thank you for your support.</span>
  <br>
  <span>Cost $1250.</span>
  </caption>
  <tr>
  <td>
  	<a href="/images/jonathan-purdy-cemetery/hi-res/DSC01025.JPG"><img src="/images/jonathan-purdy-cemetery/icon/DSC01025.JPG" style="border:1px solid black"></a>
  </table>

</table>