
<table style="width:90%" align="center">
<tr>
  <!-- image -->
  <td style="width:50%" align="center">
  <a href="/images/jonathan-purdy-cemetery/hi-res/100_2531.jpg"><img src="/images/jonathan-purdy-cemetery/2531.jpg" style="border:1px solid black"></a>
  <!-- text -->
  <td style="width:50%; padding:10px;" align="center">
  	<h3>Elizabeth Addington Wessels (1754-1838) an Hercules Wessels (1757-1833)</h3>
	<p>
	New headstones provided by the 
	Veterans Administration, funded by a descendant of Hercules and Elizabeth Wessels and the White Plains 
	Historical Society.  Set by Michael S. Bennett and the Boy Scouts of Troop 73, White Plains.
</table>