
<table style="width:90%" align="center">
<tr>
  <!-- image -->
  <td style="width:50%" align="center">
  <a href="/images/jonathan-purdy-cemetery/hi-res/100_0929.jpg"><img src="/images/jonathan-purdy-cemetery/icon/0929.jpg" style="border:1px solid black"></a>
  <!-- text -->
  <td style="width:50%; padding:10px;" align="center">
  	<h3>Isaac Purdy (1732-1816)</h3>
	<p>
	Hollow headstone filled and cracks sealed by Robert Neal Carpenter.  
	Funded by a Community Development Block Grant from the City of White Plains.
</table>