<div>
<small>
<p>
Before the Revolutionary War, Jonathan Purdy (c.1694-1772) and his family set aside a one-quarter acre
family cemetery on the southern end of White Plains, along the "Road to Rye Neck" as a burial place for
himself and his descendants.  Between the first burial (Christopher Purdy in 1760) and the last burial
(Maria Purdy in 1864), approximately 66 members and friends of the Purdy Family were buried there and
remain interred there today.  The surrounding farmland was sold by the descendants of Jonathan
Purdy in the 1830's but a protective covenant runs with the burial ground that still ensures use
and access by the Purdy Family today.  In the latter half of the 20th Century, the owner of the
surrounding property prevented entry to the site to those seeking to visit the cemetery.  This
together with a lack of endowment caused the cemetery to fall into disrepair and decrepitude.
In 2006, the land surrounding the cemetery was offered for sale and this threatened the destruction of
the cemetery and the disinterment of those buried there.  In an effort to preserve the cemetery for
future generations, the White Plains Historical Society and the City of White Plains stepped up their
efforts to re-establish the Purdy Family's right to maintain and access the cemetery.  The White
Plains Historical Society has now received the permission of over 40 descendants of Jonathan Purdy
(and this number keeps climbing) and the support of the City of White Plains to restore and
replace damaged headstones, regularly clear brush, and seek out a permanent plan of action for
future site maintenance.
</small>
</div>