
<table>
<tr>

<td style="width:33%; padding:6px;" align="center">
  <!-- ***** content 1 ***** -->
  <h3>Alexander Gordon Lee</h3>
  <p>
	c. 1816-August 14, 1839<br>
	First husband of Sarah Matilda Guion
  <!-- /***** content 1 ***** -->
	
<td style="width:33%; padding:6px;" align="center">
  <table>
  <caption style="caption-side:bottom;">
  Click on image to enlarge.
  </caption>
  <tr>
  <td>
  	<a href="/images/jonathan-purdy-cemetery/hi-res/Alexander Gordon Lee.jpg" target="_enlarge"><img src="/images/jonathan-purdy-cemetery/icon/Alexander Gordon Lee.jpg" style="border:1px solid black"></a>
  </table>
	
<td style="width:50%" align="center">
  <table>
  <caption style="caption-side:bottom;">
  <span style="color:#ff0000">Restored! Thank you for your support.</span>
  <br>
  <span>Cost $1075.</span>
  </caption>
  <tr>
  <td>
    <a href="/images/jonathan-purdy-cemetery/hi-res/Alexander Gordon Lee (restored).JPG" target="_enlarge"><img src="/images/jonathan-purdy-cemetery/icon/Alexander Gordon Lee (restored).JPG" style="border:1px solid black"></a>
  </table>

</table>