
<table style="width:90%" align="center">
<tr>

 <!-- image -->
  <td style="width:50%" align="center">
  <table>
  <caption style="caption-side:bottom;">
  Broken headstone, most pieces recovered
  </caption>
  <tr>
  <td>
  	<a href="/images/jonathan-purdy-cemetery/hi-res/DSC00186_a.jpg"><img src="/images/jonathan-purdy-cemetery/icon/DSC00186_a.jpg" style="border:1px solid black"></a>
  </table>
  <!-- text -->
<!--
  <td style="width:50%; padding:10px;" align="center">
  	<h3>Elijah Purdy (January 19, 1756-March 2, 1826)</h3>
	<p>
	Son of Elijah Purdy and Levinia Haight Purdy.
	Husband of Sarah Hart Purdy.
-->	
  <!-- image -->
  <td style="width:50%" align="center">
  <table>
  <caption style="caption-side:bottom;">
  <span style="color:#ff0000">Restored! Thank you for your support.</span>
  </caption>
  <tr>
  <td>
  	<a href="/images/jonathan-purdy-cemetery/hi-res/Elijah Purdy after photo.jpg"><img src="/images/jonathan-purdy-cemetery/icon/Elijah Purdy after photo.jpg" style="border:1px solid black"></a>
  </table>
  <!-- text -->
  <td style="width:50%; padding:10px;" align="center">
  	<h3>Elijah Purdy (January 19, 1756-March 2, 1826)</h3>
	<p>
	Son of Elijah Purdy and Levinia Haight Purdy.
	Husband of Sarah Hart Purdy.
</table>