
<table>
<tr>

<td style="width:33%; padding:6px;" align="center">
  <!-- ***** content 1 ***** -->
  <h3>Elijah Guion (1791-1853) and Mary Purdy Guion (1793-1850)</h3>
  <p>
	Large, thick white marble grave marker.
  	Marble base needs to be reset and a stone piece carved to fit into the groove area and glued.
  	Stone then to be lifted onto base.
  <!-- /***** content 1 ***** -->
	
<td style="width:33%; padding:6px;" align="center">
  <table>
  <caption style="caption-side:bottom;">
  Click on image to enlarge.
  </caption>
  <tr>
  <td>
    <a href="/images/jonathan-purdy-cemetery/hi-res/ElijahAndMaryGuion.jpg" target="_enlarge"><img src="/images/jonathan-purdy-cemetery/icon/ElijahAndMaryGuion.jpg" style="border:1px solid black"></a>
  </table>
	
<td style="width:50%" align="center">
  <table>
  <caption style="caption-side:bottom;">
  <span style="color:#ff0000">Restored! Thank you for your support.</span>
  <br>
  <span>Cost $1350.</span>
  </caption>
  <tr>
  <td>
    <a href="/images/jonathan-purdy-cemetery/hi-res/ElijahAndMaryGuion-restored.jpg" target="_enlarge"><img src="/images/jonathan-purdy-cemetery/icon/ElijahAndMaryGuion-restored.jpg" style="border:1px solid black"></a>
  </table>

</table>