
<table>
<tr>

<td style="width:33%; padding:6px;" align="center">
  <!-- ***** content 1 ***** -->
  <h3>TBD</h3>
  <p>
	Rob Hoch and Bob Carpenter will make an assessment of the cemetery and choose the next stone to be restored.
  <!-- /***** content 1 ***** -->
<td style="width:33%; padding:6px;" align="center">
  <!-- ***** content 2 ***** -->
  <table>
  <caption style="caption-side:bottom;">
  Click on image to enlarge.
  </caption>
  <tr>
  <td>
  	<a href="/images/cemetery.jpg" target="_enlarge"><img src="/images/cemetery3.jpg" style="border:1px solid black"></a>
  </table>
  <!-- /***** content 2 ***** -->
<td style="width:34%; padding:6px;" align="center">
  <table>
  <tr>
  <td align="left">
  <!-- ***** content 3 ***** -->
  <table>
	<tr>
	<td align="left">
	Estimated Restoration Cost
	<td align="right">
	$1200.00
	<tr>
	<td align="left">
	White Plains Historical Society Contribution
	<td align="right">
	<span style="color:green;">
	$600.00
	</span>
	<tr>	
	<td align="left"> 	
	Generous Donor Contributions
	<td align="right">
	<span style="color:green;">
	$525.00
	</span>
	<tr>
	<td align="left">
	Fund Raising Goal (Remaining)
	<td align="right">
	<span style="color:red;">
	$75.00
	</span>
	<tr>
	<td>&nbsp
	<tr>
	<td align="left">
		<!-- ***** Graph ***** -->
		<div>
		<script language="javascript"> 
		  // drawPercentBar()
		  // Written by Matthew Harvey (matt AT unlikelywords DOT com)
		  // (http://www.unlikelywords.com/html-morsels/)
		  // Distributed under the Creative Commons 
		  // "Attribution-NonCommercial-ShareAlike 2.0" License
		  // (http://creativecommons.org/licenses/by-nc-sa/2.0/)
		  function drawPercentBar(width, percent, color, background) 
		  { 
		    var pixels = width * (percent / 100); 
		    if (!background) { background = "none"; }
		 
		    document.write("<div style=\"position: relative; line-height: 1em; background-color: " 
		
		                   + background + "; border: 1px solid black; width: " 
		                   + width + "px\">"); 
		    document.write("<div style=\"height: 1.5em; width: " + pixels + "px; background-color: "
		                   + color + ";\"></div>"); 
		    document.write("<div style=\"position: absolute; text-align: center; padding-top: .25em; width: " 
		                   + width + "px; top: 0; left: 0\">" + percent + "%</div>"); 
		
		    document.write("</div>"); 
		  } 
		</script>
		<script language="javascript">drawPercentBar(300, 94.0, 'green'); </script>
		</div>
		<!-- ***** Graph ***** -->
  </table>
  <!-- /***** content 3 ***** -->
  <tr>
  <td><br><br>
  <tr>
  <td align="center">
  <!-- ***** content 4 ***** -->
  <table>
	<tr>
	<td align="left">
		<!-- ***** PayPal ***** -->
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="3A2YBLX6WK3XS">
		<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
		<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
		</form>
		<!-- /***** PayPal ***** -->	
  </table>
  <!-- /***** content 4 ***** -->
 
  </table>
</table>