
<h3>White Plains</h3>
<ul class="links">
<li><a href="http://www.cityofwhiteplains.com" target="_blank">City of White Plains</a>
<li><a href="http://maps.google.com/maps/ms?hl=en&gl=us&ie=UTF8&oe=UTF8&msa=0&msid=101147494861634355348.00048a3266c4a462712f4" target="_blank">Heritage Trail</a>
<li><a href="http://www.westarts.com/" target="_blank">Westchester Arts Council</a>
<li><a href="http://www.whiteplainslibrary.org" target="_blank">White Plains Public Library</a>
<!--
<li><a href="http://www.wptimes.com" target="_blank">White Plains Times</a>
-->
<li><a href="http://www.wpcna.org/" target="_blank">White Plains Council of Neighborhood Associations</a>
<li>This Blooming City
<ul>
<li><a href="http://wpcommunitymedia.org/blooming-city/06102016-653" target="_blank">A Day in the Life of Colonial White Plains Part 1</a>
<li><a href="http://wpcommunitymedia.org/blooming-city/07222016-589" target="_blank">A Day in the Life of Colonial White Plains Part 2</a>
<li><a href="http://wpcommunitymedia.org/blooming-city/05162017-1986" target="_blank">George Washington Thomas Paine and The Turtle More of our Rich History</a>
</ul>
</ul>