
<h3>USA</h3>
<ul class="links">
<li><a href="http://www.homeadvisor.com/r/illinois-civil-war-history/" target="_shadow">A History of Illinois in the Civil War</a>
<li><a href="http://the-aha-society.com/" target="_shadow">Alexander Hamilton Awareness Society</a>
<li><a href="http://www.cr.nps.gov/nr/" target="_shadow">National Register of Historic Places</a>
<li><a href="http://www.statutes-of-limitations.com/news/read/legal-changes-after-the-civil-war-and-the-14th-amendment" target="_shadow">13th, 14th & 15th Amendments</a>
</ul>
