
<h3>New York State</h3>
<ul class="links">
<!--
<li><a href="http://www.CivilWarNY150.org/" target="_shadow">Daniel E. Sickles Civil War Roundtable</a>
-->
<li><a href="http://www.nyhistory.com/" target="_shadow">New York History Net</a>
<li><a href="https://parks.ny.gov/shpo/" target="_shadow">New York State Historic Preservation Office</a>
<li><a href="https://newyorkhistoryblog.org/2017/04/nysha-defunct-new-york-state-historical-association-is-no-more/" target="_shadow">New York State Historical Association</a>
<li><a href="http://www.nyhistory.org//" target="_shadow">New York Historical Society</a>
<li><a href="http://pawling.levies.googlepages.com/home" target="_shadow">Pawling's Levies</a>
</ul>