
<h3>Westchester County</h3>
<ul class="links">
<li><a href="http://www.doll1776.com" target="_blank">Daughters of Liberty's Legacy</a>
<li><a href="http://nywbry.com/" target="_blank">New York, Westchester &amp Boston Railway</a>
<li><a href="http://www.jjforum.blogspot.com/" target="_blank">The John Jay Forum</a>
<li><a href="http://www.westchesterhistory.com" target="_blank">Westchester County Historical Society</a>
<li><a href="http://www.rootsweb.ancestry.com/~nywcgs/" target="_blank">Westchester County Genealogical Society</a>
<li><a href="http://www.westchestergov.com/wcarchives/" target="_blank">Westchester County Archives</a>
</ul>
