
<tr>
<td align="center">

<table>
<tr>
<td style="width:25%">
</td>
<td style="width:50%">

<center>
<img alt="" border="0" src="/paypal/AM_mc_vs_dc_ae.120.jpg">
<br>
<br>
</center>

<center>
<b>Benefits of Membership</b>
<br>
You will receive Society Newsletters.  
Free inquiries and access to our archives.  
Advance notice of all lectures, tours, programs and special events.
15% discount on books and gift items.
</center>
</td>
<td style="width:25%">
</td>
</tr>
</table>

</tr>