<div id="nav">
    <div id="nav_wrapper">
        <ul>
            <li><a href="index.html">Home</a>
            </li>
            <li> <a href="mission.html">Mission</a>
            </li>
            <li> <a href="calendar.html">Calendar</a>
            </li>
            <li> <a href="#">History</a>
                <ul>
                    <li><a href="/pages/HallOfFame.html" target=_shadow>Hall of Fame</a>
                    </li>
                    <li><a href="/pages/JonathanPurdyCemetery.html" target=_shadow>Jonathan Purdy Cemetery</a>
                    </li>
                    <li><a href="/pages/NationalRegister.html" target=_shadow>White Plains in the National Register of Historic Places</a>
                    </li>
                    <li><a href="/pages/UssWhitePlains.html" target=_shadow>USS White Plains</a>
                    </li>
                </ul>
            </li>
            <li> <a href="membership.html">Membership</a>
            </li>
            <li> <a href="giftshop.html">Gift Shop</a>
            </li>
            <li> <a href="aboutus.html">About Us</a>
            </li>
            <li> <a href="links.html">Links</a>
            </li>
        </ul>
    </div>
</div>