
<tr>

<th style="border:1px solid black;" align="center">
<a href="/pages/national-register/RuralCemetery.html" target="_shadow2">Rural Cemetery</a>

<th style="border:1px solid black;" align="center">
<a href="http://maps.google.com/maps?f=q&hl=en&q=167+North+Broadway,+White+Plains,+NY&ie=UTF8&om=1" target="_blank">167 North Broadway</a>

<th style="border:1px solid black;" align="center">
September 19, 2003

<th style="border:1px solid black;" align="center">
<a href="/pages/national-register/RuralCemetery.html" target="_shadow2"><img alt="" hspace=0 src="/images/national-register/20060801Cemetery_icon.jpg" border="1"></a>
