
<tr>

<th style="border:1px solid black;" align="center">
<a href="/pages/national-register/JacobPurdyHouse.html" target="_shadow2">Jacob Purdy House</a>

<th style="border:1px solid black;" align="center">
<a href="http://maps.google.com/maps?f=q&hl=en&q=60+Park+Avenue,+White+Plains,+NY&ie=UTF8&ll=41.036992,-73.773236&spn=0.024537,0.052142&om=1" target="_blank">60 Park Avenue</a>

<th style="border:1px solid black;" align="center">
August 31, 1979 

<th style="border:1px solid black;" align="center">
<a href="/pages/national-register/JacobPurdyHouse.html" target="_shadow2"><img alt="" hspace=0 src="/images/national-register/20060729PurdyHouse_icon.jpg" border="1"></a>
