
<tr>

<th style="border:1px solid black;" align="center">
<a href="/pages/national-register/GoodCounselComplex.html" target="_shadow2">Good Counsel Complex</a>

<th style="border:1px solid black;" align="center">
<a href="http://maps.google.com/maps?f=q&hl=en&q=52+North+Broadway,+White+Plains,+NY&ie=UTF8&om=1" target="_blank">52 North Broadway</a>

<th style="border:1px solid black;" align="center">
April 25, 1997

<th style="border:1px solid black;" align="center">
<a href="/pages/national-register/GoodCounselComplex.html" target="_shadow2"><img alt="" hspace=0 src="/images/national-register/20060801GoodCounsel_icon.jpg" border="1"></a>
