
<tr>

<th style="border:1px solid black;" align="center">
<a href="/pages/national-register/SoundviewManor.html" target="_shadow2">Soundview Manor</a>

<th style="border:1px solid black;" align="center">
<a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=283+Soundview+Avenue,+White+Plains,+NY&sll=37.0625,-95.677068&sspn=53.696917,60.996094&ie=UTF8&hq=&hnear=283+Soundview+Ave,+White+Plains,+Westchester,+New+York+10606&ll=41.002962,-73.765512&spn=0.025262,0.029783&z=15" target="_shadow2">283 Soundview Avenue</a>

<th style="border:1px solid black;" align="center">
November 25, 2009

<th style="border:1px solid black;" align="center">
<a href="/pages/national-register/SoundviewManor.html" target="_shadow2"><img alt="" hspace=0 src="/images/national-register/SoundviewManor_icon.JPG" border="1"></a>
