
<tr>

<th style="border:1px solid black;" align="center">
<a href="/pages/national-register/BarBuilding.html" target="_shadow2">Bar Building</a>

<th style="border:1px solid black;" align="center">
<a href="http://maps.google.com/maps?f=q&hl=en&geocode=&q=199+Main+St,+White+Plains,+Westchester,+New+York+10601,+United+States&sll=37.0625,-95.677068&sspn=45.822921,78.398437&ie=UTF8&cd=1&z=16&iwloc=addr&om=1" target="_blank">199 Main Street</a>

<th style="border:1px solid black;" align="center">
May 17, 2007

<th style="border:1px solid black;" align="center">
<a href="/pages/national-register/BarBuilding.html" target="_shadow2"><img alt="" hspace=0 src="/images/national-register/20101127BarBuilding_icon.jpg" border="1"></a>
