
<tr>

<th style="border:1px solid black;" align="center">
<a href="/pages/national-register/Armory.html" target="_shadow2">Percy Grainger Home and Studio</a>

<th style="border:1px solid black;" align="center">
<a href="http://maps.google.com/maps?f=q&hl=en&q=35+South+Broadway,+White+Plains,+NY&ie=UTF8&om=1" target="_blank">35 South Broadway</a>

<th style="border:1px solid black;" align="center">
April 16, 1980

<th style="border:1px solid black;" align="center">
<a href="/pages/national-register/Armory.html" target="_shadow2"><img alt="" hspace=0 src="/images/national-register/20060801Armory_icon.jpg" border="1"></a>
