
<tr>

<th style="border:1px solid black;" align="center">
<a href="/pages/national-register/PeoplesNationalBank.html" target="_shadow2">Peoples National Bank and Trust Company Building</a>

<th style="border:1px solid black;" align="center">
<a href="http://maps.google.com/maps?f=q&hl=en&q=31+Mamaroneck+Avenue,+White+Plains,+NY&ie=UTF8&om=1" target="_blank">31 Mamaroneck Avenue</a>

<th style="border:1px solid black;" align="center">
September 14, 2000 

<th style="border:1px solid black;" align="center">
<a href="/pages/national-register/PeoplesNationalBank.html" target="_shadow2"><img alt="" hspace=0 src="/images/national-register/20060805PeoplesBank_icon.jpg" border="1"></a>
