
<tr>

<th style="border:1px solid black;" align="center">
<a href="/pages/national-register/PercyGrainger.html" target="_shadow2">Percy Grainger Home and Studio</a>

<th style="border:1px solid black;" align="center">
<a href="http://maps.google.com/maps?f=q&hl=en&q=7+Cromwell+Place,+White+Plains,+NY&ie=UTF8&ll=41.027636,-73.767486&spn=0.022792,0.052314&om=1" target="_blank">7 Cromwell Place</a>

<th style="border:1px solid black;" align="center">
April 8, 1993 

<th style="border:1px solid black;" align="center">
<a href="/pages/national-register/PercyGrainger.html" target="_shadow2"><img alt="" hspace=0 src="/images/national-register/20060805PercyGrainger_icon.jpg" border="1"></a>
