
<tr>
<td>

<table cellpadding="10">

<tr valign="bottom">
<td align="center"><h2>2010</h2>
<td align="center"><a href="/newsletters/2010NewsletterSpring.pdf" target="_news"><img alt="" border="1" src="/newsletters/2010NewsletterSpring_icon.jpg"></a>
<td align="center"><a href="/pages/gwb/2010.html" target="_news"><img alt="" border="1" src="/images/gwb/2010/cake_icon.JPG"></a>
<td align="center"><a href="/pages/annual-dinner/2010.html" target="_news"><img alt="" border="1" src="/images/annual-dinner/2010/2010.AnnualDinnerAwards_icon.jpg"></a>
<td align="center"><a href="/pages/bowp/2010.html" target="_news">
				   <table>
				   <caption><small>234<sup>th</sup> Anniversary</small></caption>
				   <tr>
				   <td><img alt="" border="1" src="/images/bowp/2010/TroopsArrival_icon.JPG">
                   </table>
                   </a>
<td align="center"><a href="https://sites.google.com/site/troopxwp/white-plains-heritage-trail" target="_news"><img alt="" border="1" src="/images/Heritage_Trail.jpg"></a>
<td align="center"><a href="/events/2010/HeadstoneDedication.html" target="_news"><img alt="" border="1" src="/images/events/2010/Wessels/Headstone_icon.jpg"></a>
<td align="center">
<td align="center">
<td align="center">

<tr valign="top">
<td align="center">
<td align="center"><a href="/newsletters/2010NewsletterSpring.pdf" target="_news">Spring Newsletter</a>
<td align="center"><a href="/pages/gwb/2010.html" target="_news">Washington's Birthday</a>
<td align="center"><a href="/pages/annual-dinner/2010.html" target="_news">Annual Dinner</a>
<td align="center"><a href="/pages/bowp/2010.html" target="_news">Battle of White Plains</a>
<td align="center"><a href="https://sites.google.com/site/troopxwp/white-plains-heritage-trail" target="_news">Heritage Trail<br>Eagle Scout Project</a>
<td align="center"><a href="/events/2010/HeadstoneDedication.html" target="_news">Hercules Wessels</a>
<td align="center">
<td align="center">
<td align="center">

</table>

<tr>
<td>
<hr>