
<tr>
<td>

<table cellpadding="10">

<tr valign="bottom">
<td align="center"><h2>2016</h2>
<td align="center"><a href="/newsletters/2016NewsletterSpring.pdf" target="_news"><img alt="" border="1" src="/newsletters/2016NewsletterSpring_icon.jpg"></a>
<td align="center"><a href="/newsletters/2016NewsletterReynalParkArticle.pdf" target="_news"><img alt="" border="1" src="/images/eraser.jpeg"></a>
<td align="center">
<td align="center">
<td align="center">
<td align="center">
<td align="center">
<td align="center">
<td align="center">
<td align="center">
</tr>

<tr valign="top">
<td align="center">
<td align="center"><a href="/newsletters/2016NewsletterSpring.pdf" target="_news">Spring Newsletter</a>
<td align="center"><a href="/newsletters/2016NewsletterReynalParkArticle.pdf" target="_news">Spring Newsletter<br>Correction</a>
<td align="center">
<td align="center">
<td align="center">
<td align="center">
<td align="center">
<td align="center">
<td align="center">
</tr>

</table>

<tr>
<td>
<hr>