
<tr>
<td>

<table cellpadding="10">

<tr valign="bottom">
<td align="center"><h2>2009</h2>
<td align="center"><a href="/newsletters/2009NewsletterWinter.pdf" target="_news"><img alt="" border="1" src="/newsletters/2009NewsletterWinter_icon.jpg"></a>
<td align="center"><a href="/pages/gwb/2009.html" target="_news"><img alt="" border="1" src="/images/gwb/2009/20090215Marching_icon.jpg"></a>
<td align="center"><a href="/events/2009/StPatsParade.html" target="_news"><img alt="" border="1" src="/images/events/2009/StPatsParade/StPats-06-icon.jpg"></a>
<td align="center"><a href="/pages/annual-dinner/2009.html" target="_news"><img alt="" border="1" src="/images/annual-dinner/2009/Table4_icon.jpg"></a>
<td align="center"><a href="/pages/bowp/2009.html" target="_news">
				   <table>
				   <caption><small>233<sup>rd</sup> Anniversary</small></caption>
				   <tr>
				   <td><img alt="" border="1" src="/images/bowp/2009/WashingtonReviewsRecruits_icon.jpg">
                   </table>
                   </a>
<td align="center">
<td align="center">
<td align="center">
<td align="center">
<td align="center">

<tr valign="top">
<td align="center">
<td align="center"><a href="/newsletters/2009NewsletterWinter.pdf" target="_news">Winter Newsletter</a>
<td align="center"><a href="/pages/gwb/2009.html" target="_news">Washington's Birthday</a>
<td align="center"><a href="/events/2009/StPatsParade.html" target="_news">St. Patricks Day Parade</a>
<td align="center"><a href="/pages/annual-dinner/2009.html" target="_news">Annual Dinner</a>
<td align="center"><a href="/pages/bowp/2009.html" target="_news">Battle of White Plains</a>
<td align="center">
<td align="center">
<td align="center">
<td align="center">

</table>