
<tr>
<td>

<table cellpadding="10">

<tr valign="bottom">
<td align="center"><h2>2017</h2>
<td align="center"><a href="/newsletters/2017NewsletterSpring.pdf" target="_news"><img alt="" border="1" src="/newsletters/2017NewsletterSpring_icon.jpg"></a>
<td align="center">
<td align="center">
<td align="center"><a href="/newsletters/2017NewsletterFall.pdf" target="_news"><img alt="" border="1" src="/newsletters/2017NewsletterFall_icon.jpg"></a>
<td align="center">
<td align="center">
<td align="center">
<td align="center">
<td align="center">
<td align="center">
</tr>

<tr valign="top">
<td align="center">
<td align="center"><a href="/newsletters/2017NewsletterSpring.pdf" target="_news">Spring Newsletter</a>
<td align="center">
<td align="center">
<td align="center"><a href="/newsletters/2017NewsletterFall.pdf" target="_news">Fall Newsletter</a>
                   <br><br>
                   <a href="/newsletters/2017NewsletterFallAnswers.pdf" target="_news">Word Scramble<br>Answers</a>
<td align="center">
<td align="center">
<td align="center">
<td align="center">
<td align="center">
</tr>

</table>