
<tr>
<td>

<table cellpadding="10">

<tr valign="bottom">
<td align="center"><h2>2007</h2>
<td align="center"><a href="/newsletters/2007NewsletterSpring.pdf" target="_news"><img alt="" border="1" src="/newsletters/2007NewsletterSpring_icon.jpg"></a>
<td align="center"><a href="/pages/annual-dinner/2007.html" target="_news"><img alt="" border="1" src="/images/annual-dinner/2007/2926 School table icon.jpg"></a>
<td align="center"><a href="/events/2007/EmergencyVehicles.html" target="_news"><img alt="" border="1" src="/images/events/2007/TasteOfWhitePlains/Sunday, October 21, 2007 (9) icon.jpg"></a>
<td align="center"><a href="/pages/bowp/2007.html" target="_news">
				   <table>
				   <caption><small>231<sup>st</sup> Anniversary</small></caption>
				   <tr>
				   <td><img alt="" border="1" src="/images/bowp/2007/2007BattleOfWhitePlains_icon.jpg">
                   </table>
                   </a>
<td align="center">
<td align="center">
<td align="center">
<td align="center">
<td align="center">
<td align="center">

<tr valign="top">
<td align="center">
<td align="center"><a href="/newsletters/2007NewsletterSpring.pdf" target="_news">Spring Newsletter</a>
<td align="center"><a href="/pages/annual-dinner/2007.html" target="_news">Annual Dinner</a>
<td align="center"><a href="/events/2007/EmergencyVehicles.html" target="_news">Antique Emergency Vehicles</a>
<td align="center"><a href="/pages/bowp/2007.html" target="_news">Battle of White Plains</a>
<td align="center">
<td align="center">
<td align="center">
<td align="center">
<td align="center">

</table>