
<tr>
<td>

<table cellpadding="10">

<tr valign="bottom">
<td align="center"><h2>2008</h2>
<td align="center"><a href="/newsletters/2008NewsletterSpring.pdf" target="_news"><img alt="" border="1" src="/newsletters/2008NewsletterSpring_icon.jpg"></a>
<td align="center"><a href="/pages/gwb/2008.html" target="_news"><img alt="" border="1" src="/images/gwb/2008/20080217WBC-ManhattanvilleEnsemble_icon.jpg"></a>
<td align="center"><a href="/pages/annual-dinner/2008.html" target="_news"><img alt="" border="1" src="/images/annual-dinner/2008/Award_icon.jpg"></a>
<td align="center"><a href="/pages/bowp/2008.html" target="_news">
				   <table>
				   <caption><small>232<sup>nd</sup> Anniversary</small></caption>
				   <tr>
				   <td><img alt="" border="1" src="/images/bowp/2008/20081026BWP-5thNY_icon.jpg">
                   </table>
                   </a>
<td align="center">
<td align="center">
<td align="center">
<td align="center">
<td align="center">
<td align="center">

<tr valign="top">
<td align="center">
<td align="center"><a href="/newsletters/2008NewsletterSpring.pdf" target="_news">Winter Newsletter</a>
<td align="center"><a href="/pages/gwb/2008.html" target="_news">Washington's Birthday</a>
<td align="center"><a href="/pages/annual-dinner/2008.html" target="_news">Annual Dinner</a>
<td align="center"><a href="/pages/bowp/2008.html" target="_news">Battle of White Plains</a>
<td align="center">
<td align="center">
<td align="center">
<td align="center">
<td align="center">

</table>