
<tr>
<td>

<table cellpadding="10">

<tr valign="bottom">
<td align="center"><h2>2015</h2>
<td align="center"><a href="/newsletters/2015NewsletterSpring.pdf" target="_news"><img alt="" border="1" src="/newsletters/2015NewsletterSpring_icon.jpg"></a>
<td align="center"><a href="/pages/gwb/2015.html" target="_news"><img alt="" border="1" src="/images/gwb/2015/FlagRaising_icon.JPG"></a>
<td align="center"><a href="/pages/annual-dinner/2015.html" target="_news"><img alt="" border="1" src="/images/annual-dinner/2015/06cocktail_hour_icon.JPG"></a>
<td align="center"><a href="/docs/Hamilton.pdf" target="_news"><img alt="" border="1" src="/images/Hamilton.icon.jpg"></a>
<td align="center"><a href="/images/events/2015/trolley/White Plains Trolley Tour 10.18.15.pdf" target="_news"><img alt="" border="1" src="/images/events/2015/trolley/trolley.png"></a>
<td align="center"><a href="https://www.youtube.com/watch?v=8fsByhhp09w&feature=youtu.be" target="_news"><img alt="" border="1" src="/images/events/2015/bowp/youtube.jpg"></a>
<td align="center">
<td align="center">
<td align="center">
<td align="center">
</tr>

<tr valign="top">
<td align="center">
<td align="center"><a href="/newsletters/2015NewsletterSpring.pdf" target="_news">Spring Newsletter</a>
<td align="center"><a href="/pages/gwb/2015.html" target="_news">Washington's Birthday</a>
<td align="center"><a href="/pages/annual-dinner/2015.html" target="_news">Annual Dinner</a>
<td align="center"><a href="/docs/Hamilton.pdf" target="_news">Hamilton Letter</a>
<td align="center"><a href="/images/events/2015/trolley/White Plains Trolley Tour 10.18.15.pdf" target="_news">Trolley Tours</a>
<td align="center"><a href="https://www.youtube.com/watch?v=8fsByhhp09w&feature=youtu.be" target="_news">Battle of White Plains on YouTube</a>
<td align="center">
<td align="center">
<td align="center">
</tr>

</table>

<tr>
<td>
<hr>