
Thomas Pinchbeck (July 28, 1877-February 25, 1925) emigrated from England with 
his brother Abraham and settled in White Plains where he raised a family and became 
a real estate developer.  
He and Abraham developed and resided in the Summit Avenue neighborhood south of Maple 
Avenue, where most of the houses he constructed are still standing.  
Thomas Pinchbeck was elected to the White Plains Common Council as a Republican in 1923.  
He married Hattie Conklin (November 23, 1878- August 23, 1938) on October 18, 1904 
and they had one son and four daughters including, Harriet (pictured below).   
The photos below are provided courtesy of their great-grandson Drew Mosher. 
