
<br>
<br>

<h4>Abraham Lincoln Centenary Competition Certificate, 1909</h4>

<small><i>From the collection of the White Plains Historical Society</i></small>
<br>
<br>

<table>
<caption>
<small>
Abraham Lincoln Centenary Competition Certificate, 1909 
<br>
<a href="/exhibits/treasures/images/OCHS[1].jpg" target=_blank>click</a>
on image for more detail.
</small>
<br>
<a href="/exhibits/treasures/images/OCHS[1].jpg" target=_blank><img alt="?" hspace=0 src="/exhibits/treasures/images/OCHS[1].reduced.jpg" border=1></a>
</caption>
<tr>
<td>
<br>
<br>
<p>
"Honorable Mention" certificate awarded in 1909 by the New York Times to Elsie Moress of the 
Eastview Avenue School for her "Abraham Lincoln Centenary" writing composition. Ms. Moress 
graduated White Plains High School in 1915 and later attended Barnard College. The certificate 
is signed by Adolph Ochs (1858-1935), owner and publisher of the New York Times, and later a 
White Plains resident. Ochs' country estate, "Hillandale," located on Homeside Lane, is now 
the offices of the White Plains Board of Education. 

</table>

<p>
<i>Gift of William Donworth.</i>

<hr>
