
Hattie Pinchbeck and her daughter Harriet (Carpenter). 

<br>
<br>
<div align="center">
<table>
<caption>
<small>
Hattie Pinchbeck and her daughter Harriet (Carpenter). 
<br>
<a href="/exhibits/treasures/images/pinchbeck/b.jpg" target=_pinckbeck>
click</a> on image for more detail.
</small>
</caption>
<tr>
<td>
<a href="/exhibits/treasures/images/pinchbeck/b.jpg" target=_pinckbeck><img alt="" hspace=0 src="/exhibits/treasures/images/pinchbeck/b.reduced.jpg" border=1></a>
<br>
</td>
</tr>
</table>
</div>
<br>
<br>