
<br>
<br>

<h4>This bayonet was found long ago on the field of the Joshua Hatfield farm in White Plains. It once belonged to Hudson Valley landscape artist Eunice Hatfield-Smith. </h4>

<small><i>From the collection of Bruce Handler</i></small>
<br>
<br>

<table>
<caption>
<small>
Bayonet 
</small>
</caption>
<tr align="center">
<td align="center">
<small>
<a href="/exhibits/treasures/images/Bayonet.jpg" target=_blank>click</a>
on image for more detail.
</small>
<br>
<a href="/exhibits/treasures/images/Bayonet.jpg" target=_blank><img alt="?" hspace=0 src="/exhibits/treasures/images/Bayonet.reduced.jpg" border=1></a>
</table>

<br>
<br>

<p>
<i>Courtesy of Bruce Handler.</i>

<hr>
