
<br>
<br>

<h4>White Plains Elementary School students cir. 1915.</h4>

<small><i>From the collection of the White Plains Historical Society</i></small>
<br>
<br>

<table>

<caption>
<small>
White Plains Elementary School students cir. 1915.
<br>
<a href="/exhibits/treasures/images/Quick-elementary-class-photo.pdf" target=_blank>click</a>
on image for more detail.
</small>
<br>
<a href="/exhibits/treasures/images/Quick-elementary-class-photo.pdf" target=_blank><img alt="?" hspace=0 src="/exhibits/treasures/images/Quick-elementary-class-photo[1].jpg" border=1></a>
</caption>

<tr>
<td>
<br>
<br>
<p>
<b>
From scrapbook of baseball all-star Roger Quick.
</b>

</table>

<p>
<i>Gift of Andrea Soukup.</i>

<hr>
