
<br>
<br>

<h4>Servant's pass (slave pass) and an image of the author of the pass, Col. Silliman, 1776 during Battle of White Plains </h4>

<small><i>From the collection of Bruce Handler</i></small>
<br>
<br>

<table>
<caption>
<small>
Servant's pass  
<br>
<a href="/exhibits/treasures/images/Servant-Pass-circa-1776.tif" target=_blank>click</a>
on image for more detail.
</small>
<br>
<a href="/exhibits/treasures/images/Servant-Pass-circa-1776.tif" target=_blank><img alt="?" hspace=0 src="/exhibits/treasures/images/Servant-Pass-circa-1776.reduced.jpg" border=1></a>
</caption>
<tr>
<td>
<br>
<br>

</table>

<p>
<i>Courtesy of Bruce Handler.</i>

<hr>
