
<li>19<sup>th</sup> century photograph of Jacob Purdy House</li>
<h5>On loan from decendents of Jacob Purdy</h5>

<table>
<caption>
<small>
19<sup>th</sup> century photograph of Jacob Purdy House
<br>
<a href="/images/exhibits/treasures/19thCenturyPhotoOfPurdyHouse.jpg" target=_blank>click</a>
on image for more detail.
</small>
</caption>
<tr>
<td>
<a href="/images/exhibits/treasures/19thCenturyPhotoOfPurdyHouse.jpg" target=_blank><img alt="?" hspace=0 src="/images/exhibits/treasures/19th Century Photograph of Purdy House On Loan From Decendents.jpg" border=1></a>
<br>
</td>
</tr>
</table>

<p>
<i>On loan from brother Don Baird and sister Barbara Ludemann, decendents of Jacob Purdy.</i>

<hr>
