
House on Summit Avenue built in 1904 by Thomas Pinchbeck and lived in by him and his wife Hattie (Conklin). 
The home still stands on 36 Summit Ave.  
Photo captioned, "Summit Ave. cor. Osborne St. White Plains, N.Y., the house where I was born, Har."

<br>
<br>
<div align="center">
<table>
<caption>
<small>
House on Summit Avenue built in 1904
<br>
<a href="/exhibits/treasures/images/pinchbeck/a.jpg" target=_pinckbeck>
click</a> on image for more detail.
</small>
</caption>
<tr>
<td>
<a href="/exhibits/treasures/images/pinchbeck/a.jpg" target=_pinckbeck><img alt="" hspace=0 src="/exhibits/treasures/images/pinchbeck/a.reduced.jpg" border=1></a>
<br>
</td>
</tr>
</table>
</div>
<br>
<br>