
Thomas Pinchbeck and Hattie Conklin wedding portrait, October 18, 1904. 

<br>
<br>
<div align="center">
<table>
<caption>
<small>
Thomas Pinchbeck and Hattie Conklin wedding portrait, October 18, 1904. 
<br>
<a href="/exhibits/treasures/images/pinchbeck/e.jpg" target=_pinckbeck>
click</a> on image for more detail.
</small>
</caption>
<tr>
<td>
<a href="/exhibits/treasures/images/pinchbeck/e.jpg" target=_pinckbeck><img alt="" hspace=0 src="/exhibits/treasures/images/pinchbeck/e.reduced.jpg" border=1></a>
<br>
</td>
</tr>
</table>
</div>
<br>
<br>