
<br>
<br>

<h4>Four photographs of a Curtiss JN-4 "Jenny" of the United States Army Air Service taken at Gedney Farm, May 31, 1919.</h4>

<small><i>From the collection of the White Plains Historical Society</i></small>
<br>
<br>

<table>

<caption>
<small>
Four photographs of a Curtiss JN-4 "Jenny" of the United States Army Air Service taken at Gedney Farm, May 31, 1919.
<br>
<a href="/exhibits/treasures/images/Gedney,May31,1919.pdf" target=_blank>click</a>
on image for more detail.
</small>
<br>
<a href="/exhibits/treasures/images/Gedney,May31,1919.pdf" target=_blank><img alt="?" hspace=0 src="/exhibits/treasures/images/Gedney,May31,1919[1].jpg" border=1></a>
</caption>

<tr>
<td>
<br>
<br>
<p>
<b>
From scrapbook of baseball all-star Roger Quick.
</b>

</table>

<p>
<i>Gift of Andrea Soukup.</i>

<hr>
