
<br>
<br>

<h4>"Proposed Restoration of the Nicholas Fisher House, White Plains, N.Y." Howard H. Battin, July 1965.</h4>

<small><i>From the collection of the White Plains Historical Society</i></small>
<br>
<br>

<table>
<caption>
<small>
Proposed Restoration of the Nicholas Fisher House, July 1965
<br>
<a href="/exhibits/treasures/images/Nicholas-Fisher-House.jpg" target=_blank>click</a>
on image for more detail.
</small>
<br>
<a href="/exhibits/treasures/images/Nicholas-Fisher-House.jpg" target=_blank><img alt="?" hspace=0 src="/exhibits/treasures/images/Nicholas-Fisher-House.reduced.jpg" border=1></a>
</caption>
<tr>
<td>
<br>
<br>
<p>
This architectural drawing was submitted by Howard H. Battin, a White Plains architect and member of the Westchester County Historical Society, 
following an announcement in local newspapers that the historic Fisher House was being demolished. 
<p>
According to Renoda Hoffman, the house was built by John Fisher about 1746 on a site that is now encircled by the Orchard Street entrance ramp for I-287.  
His patriot son Nicholas was born in the house, as was his daughter Ann, the widow of North Castle patriot Elijah Miller.  
Notes on the back of the drawing's matt indicate that the Fisher house and property could be restored to Mr. Battin's design for $60,000.   
Despite his best efforts, the house was vandalized and demolished in 1966.  
A modern office building, now empty, was built in it's place and occupied for many years by the American Lung Association.
<p>
Battin, a native of Wausau, Wisconsin, was an award winning architect who, among other things, 
designed the Eleanor Roosevelt Memorial Library in Hyde Park.  
He resided in the North Broadway section of White Plains, and died at St. Agnes Hospital on January 3, 1976 at the age of 80.   

</table>

<p>
<i>A gift of Maureen M. Kenney (Director, POW'R Against Tobacco of the American Lung Association in New York).</i>

<hr>
