
<br>
<br>

Thomas and Hattie standing by their newly constructed barn on Summit Avenue. Captioned 
“’Tom’ Pinchbeck and fiancée, Start of Honeymoon house 1904, Summit Avenue, White Plains, N.Y. The Barn (Still there 1978).” 

<br>
<br>
<div align="center">
<table>
<caption>
<small>
Start of Honeymoon house 1904, Summit Avenue, White Plains, N.Y. 
<br>
<a href="/exhibits/treasures/images/pinchbeck/d.jpg" target=_pinckbeck>
click</a> on image for more detail.
</small>
</caption>
<tr>
<td>
<a href="/exhibits/treasures/images/pinchbeck/d.jpg" target=_pinckbeck><img alt="" hspace=0 src="/exhibits/treasures/images/pinchbeck/d.reduced.jpg" border=1></a>
<br>
</td>
</tr>
</table>
</div>
