
<br>
<br>

<h4>Servant's pass (slave pass) and an image of the author of the pass, Col. Silliman, 1776 during Battle of White Plains </h4>

<small><i>From the collection of Bruce Handler</i></small>
<br>
<br>

<table>

<caption>
<small>
Servant's pass 
<br>
<a href="/exhibits/treasures/images/White-Plains-Ariel-circa-1930.jpg" target=_blank>click</a>
on image for more detail.
</small>
<br>
<a href="/exhibits/treasures/images/White-Plains-Ariel-circa-1930.jpg" target=_blank><img alt="?" hspace=0 src="/exhibits/treasures/images/White-Plains-Ariel-circa-1930.reduced.jpg" border=1></a>
</caption>

<tr>
<td>
<br>
<br>
<p>
<b>
From scrapbook of baseball all-star Roger Quick.
</b>

<p>
Buildings include (clockwise from top right) White Plains High School (demolished in 1940's for Macy's); 
Home Savings Bank (now Zanaro's); the fourth Westchester County Courthouse (demolished 1977 for the Galleria Mall); 
Realty Building (demolished); Bar Building (landmarked 2007), R.K.O. Keiths Theatre (with compass point - demolished for the Ritz Carlton); 
Grace Episcopal Church (constructed 1865); County Trust Company (now Chase Bank); City Hall; and the 1903 Methodist Church (demolished 1959 for Sears). 

</table>

<p>
<i>Courtesy of Bruce Handler.</i>

<hr>
