
<br>
<br>

<h4>White Plains Columbus Day Celebration, North Broadway, cir. 1930's.</h4>

<small><i>From the collection of the White Plains Historical Society</i></small>
<br>
<br>

<table>

<caption>
<small>
<table>
<tr>
<td>
Main Photograph: White Plains Columbus Day Celebration, North Broadway, cir. 1930's. Officers of the Antonio Meucci Lodge #213 in the assembly include Elena Tedesco, Antonio Castaldo, Rocco Magnotta, Leon J. Magnotta, and Dominic Borelli. Courtesy Antonio Meucci Lodge- Antonio Capicotto, archivist.  
<tr>
<td>
Inset photograph: Columbus statue dedication on October 15, 1915 at it's original location, 85 feet south of its current location (entire photograph can be seen in Yesterday in White Plains by Renoda Hoffman at page 217). 
</table>
</small>
</caption>

<tr align="center">
<td align="center">
<br<br>

<tr align="center">
<td align="center"><br<br>
<a href="/exhibits/treasures/images/MeucciColumbus.jpg" target=_blank>click</a>
on image for more detail.
<br>
<a href="/exhibits/treasures/images/MeucciColumbus.jpg" target=_blank><img alt="?" hspace=0 src="/exhibits/treasures/images/MeucciColumbus[1].jpg" border=1></a>

</table>

<p>
<i>Courtesy of Peter R. Zuzolo.</i>

<hr>
