
 Thomas Pinchbeck and his brother Abraham.


<br>
<br>
<div align="center">
<table>
<caption>
<small>
 Thomas Pinchbeck and his brother Abraham. 
<br>
<a href="/exhibits/treasures/images/pinchbeck/f.jpg" target=_pinckbeck>
click</a> on image for more detail.
</small>
</caption>
<tr>
<td>
<a href="/exhibits/treasures/images/pinchbeck/f.jpg" target=_pinckbeck><img alt="" hspace=0 src="/exhibits/treasures/images/pinchbeck/f.reduced.jpg" border=1></a>
<br>
</td>
</tr>
</table>
</div>
<br>
<br>