
<br>
<br>

<h4>Details of a commemorative porcelain plate designed cir. 1910 by the White Plains Chapter of the D.A.R</h4>

<small><i>From the collection of the White Plains Historical Society</i></small>
<br>
<br>

<table>
<caption>
<small>
D.A.R commemorative porcelain plate, cir. 1910 click on image for more detail. 
<br>
</small>
<br>
<a href="/exhibits/treasures/images/DAR-Plate-1910-v1.jpg" target=_blank><img alt="?" hspace=0 src="/exhibits/treasures/images/DAR-Plate-1910-v1s.jpg" border=1></a>
<a href="/exhibits/treasures/images/DAR-Plate-1910-v2.jpg" target=_blank><img alt="?" hspace=0 src="/exhibits/treasures/images/DAR-Plate-1910-v2s.jpg" border=1></a>
<a href="/exhibits/treasures/images/DAR-Plate-1910-v3.jpg" target=_blank><img alt="?" hspace=0 src="/exhibits/treasures/images/DAR-Plate-1910-v3s.jpg" border=1></a>
</caption>
<tr>
<td>
<br>
<br>
<p>

The plate depicts the first White Plains courthouse (erected in 1758 on the current site of the 
White Plains Armory), where New York's 4th Provincial Congress received the Declaration of Independence; 
and where the charter creating New York State was signed on July 9, 1776. The building was later burned 
with the rest of the village on November 4, 1776 by American troops after the Battle of White Plains 
(against Washington's orders). This plate was struck in honor of the monument standing in front of the 
Armory and dedicated by the D.A.R. on June 14, 1910, which commemorates the old courthouse as The Birthplace
of New York State.

</table>

<p>
<i>Gift of Bruce Handler.</i>

<hr>
