---
title: White Plains Historical Society
---
<html>
<center>
<head>
</head>
<body>
  <h3>The White Plains Historical Society</h3>
  <h2>Citizen Extraordinaire</h2>
  
  <table>
  <tr>
  <td>2019
  <td>{% include citizen-extraordinaire.2019.html %}
  <td>2009
  <td>{% include citizen-extraordinaire.2009.html %}
  <td>1999
  <td>{% include citizen-extraordinaire.1999.html %}
  <tr>
  <td>2019
  <td>{% include citizen-extraordinaire.2018.html %}
  <td>2009
  <td>{% include citizen-extraordinaire.2008.html %}
  <td>1999
  <td>{% include citizen-extraordinaire.1998.html %}
  </table>
  
</body>  
<footer>
  <br>
  <br>
  {% include copyright.html %}
</footer>
</center>
</html>
