---
title: White Plains Historical Society
---
<html>
<center>
<head>
</head>
<body>
  <h3>The White Plains Historical Society</h3>
  <h2>Citizen Extraordinaire</h2>
  
  <table>
  <tr>
  <td>
  {% include citizen-extraordinaire.row.09.html %}
  <tr>
  <td>
  {% include citizen-extraordinaire.row.08.html %}
  <tr>
  <td>
  {% include citizen-extraordinaire.row.07.html %}
  <tr>
  <td>
  {% include citizen-extraordinaire.row.06.html %}
  <tr>
  <td>
  {% include citizen-extraordinaire.row.05.html %}
  <tr>
  <td>
  {% include citizen-extraordinaire.row.04.html %}
  <tr>
  <td>
  {% include citizen-extraordinaire.row.03.html %}
  <tr>
  <td>
  {% include citizen-extraordinaire.row.02.html %}
  <tr>
  <td>
  {% include citizen-extraordinaire.row.01.html %}
  <tr>
  <td>
  {% include citizen-extraordinaire.row.00.html %}
  </table>
  
</body>  
<footer>
  <br>
  <br>
  {% include copyright.html %}
</footer>
</center>
</html>
