---
title: White Plains Historical Society
---
<html>
<center>
<head>
</head>
<body>
  <h3>The White Plains Historical Society</h3>
  
  <h2>White Plains in the National Register of Historic Places</h2>
  
  <a href="/pages/NationalRegister-map.html" target="_blank"><i>Map of all sites</i></a>
  <br>
  <br>
  
  <table style="width:90%; border:1px solid black; border-collapse: collapse;" align="center" cellpadding="5">
  
  {% include national-register.row.00.html %}
  {% include national-register.row.01.html %}
  {% include national-register.row.02.html %}
  
  </table>
  
</body>  
<footer>
  <br>
  <br>
  {% include copyright.html %}
</footer>
</center>
</html>
