---
title: White Plains Historical Society
---
<html>
<center>
<head>
</head>
<body>
  <h3>The White Plains Historical Society</h3>
  
  <h2>White Plains in the National Register of Historic Places</h2>
  
  <a href="https://www.google.com/maps/d/embed?mid=14Wk33JoEEK7zOJt2JZ910tNcfNpGqZdZ" width="640" height="480" target="_map"><i>Map of all sites</i></a>
  <br>
  <br>
  
  <table style="width:90%; border:1px solid black; border-collapse: collapse;" align="center" cellpadding="5">
  
  {% include national-register.row.00.html %}
  {% include national-register.row.01.html %}
  {% include national-register.row.02.html %}
  {% include national-register.row.03.html %}
  {% include national-register.row.04.html %}
  {% include national-register.row.05.html %}
  {% include national-register.row.06.html %}
  
  </table>
  
</body>  
<footer>
  <br>
  <br>
  {% include copyright.html %}
</footer>
</center>
</html>
