---
title: White Plains Historical Society
---
<html>
<center>
<head>
</head>
<body>
  <h3>The White Plains Historical Society</h3>
  <h2>Treasures of White Plains</h2>
  
  <table style="width:90%; border:1px solid black; border-collapse: collapse;" align="center" cellpadding="5">
  
  {% include treasures.row.01.html %}
  {% include treasures.row.02.html %}
  {% include treasures.row.03.html %}
  {% include treasures.row.04.html %}
  
  </table>
  
</body>  
<footer>
  <br>
  <br>
  {% include copyright.html %}
</footer>
</center>
</html>
