---
title: White Plains Historical Society
---
<html>
<center>
<head>
</head>
<body>
  <h3>The White Plains Historical Society</h3>
  
  <h2>Photos from the USS White Plains (CVE 66) 1943-1944</h2>
  
  <p>
  The USS White Plains CVE 66 (named for the battle, not the city) was an escort aircraft carrier of the Casablanca Class. 
  Built by Kaiser-Vancouver, she was laid down February 11, 1943 and commissioned only nine months later on November 15th. 
  Like most other escort carrier, she was a converted merchant vessel originally designed to provide aircraft cover for merchant convoys. 
  She carried 45 officers, 620 men, and approx. 25 aircraft. 
  The USS White Plains’ greatest moment in combat came on October 25, 1944, when, as part of Task Unit 77.4.3, 
  during the Battle of Samar, Philippines, she and other ships of the United State Navy, against great odds, 
  engaged and retired the Central Japanese Force including destroyers, cruisers and battleships, which were 
  headed toward the main American body at Leyte Gulf. 
  Decommissioned in 1946, she remained in reserve until sold for scrap in 1958.
  
  <table>
  
  <tr><td><td><hr><br><td>

  <tr>
  <td style="width:2%">
  <td style="width:96%" align="left">
  {% include jonathan-purdy-cemetery.hs_gen.html %}
  <td style="width:2%">
          
  <tr><td><td><hr><br><td>

  </table>
  
</body>  
<footer>
  <br>
  <br>
  {% include copyright.html %}
</footer>
</center>
</html>
